<script setup lang="ts">
import RouterLinkBtn from '../btn/RouterLinkBtn.vue'
import LoginBtnVue from '../btn/LoginBtn.vue'

const routerData = [
  {
    name: 'Home',
    path: '/'
  },
  {
    name: 'Vehicles',
    path: '/vehicles'
  },
  {
    name: 'Recors',
    path: '/records'
  }
]

import { ref, watch, onMounted, onUnmounted } from 'vue'

const scrollY = ref(0)
const isScroll = ref(false)

const handleScroll = () => {
  scrollY.value = window.scrollY
}

onMounted(() => {
  window.addEventListener('scroll', handleScroll)
})

onUnmounted(() => {
  window.removeEventListener('scroll', handleScroll)
})

watch(scrollY, (newVal) => {
  console.log(newVal)

  if (newVal > 40) {
    isScroll.value = true
  } else {
    isScroll.value = false
  }
})
</script>
<template>
  <div
    class="sticky top-0 rounded-2xl transition duration-200"
    :class="{ 'bg-[#F3F5F8] rounded-b-2xl header': isScroll }"
  >
    <div class="container mx-auto px-40">
      <div class="flex justify-between items-center py-7 border-b">
        <router-link to="/" class="text-2xl font-mono font-semibold text-[#000000b8]"
          >Avtomabil.uz</router-link
        >
        <div class="flex items-center gap-8">
          <RouterLinkBtn v-for="item in routerData" :data="item" />
          <LoginBtnVue :name="'Kirish'" />
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped>
.header {
  box-shadow: 0 12px 28px -2px #3340551f;
}
</style>
