<script lang="ts" setup>
import bg from '../../assets/images/bg-car2.jpg'
import AdminLogin from '@/components/auth/AdminLogin.vue'
</script>
<template>
  <div
    class="h-screen w-screen bg-no-repeat bg-cover bg-center flex justify-end"
    :style="{ backgroundImage: `url(${bg})` }"
  >
    <div
      class="h-screen w-full bg-[#0000008a] p-4 flex flex-col justify-center items-center shadow-none md:(shadow-xl shadow-blue-900 w-[30%])"
    >
      <h3 class="text-white text-2xl">Login</h3>
      <a-card class="w-full mt-4">
        <a-form layout="vertical">
          <AdminLogin />
          <a-button class="w-full">submit</a-button>
        </a-form>
      </a-card>
    </div>
  </div>
</template>
