<script setup lang="ts">
const props = defineProps({
  name: String
})
</script>
<template>
  <button
    class="rounded-md py-3 px-6 text-[#000000b8] font-semibold transition-transform bg-white duration-300 hover:(text-[#1B9684] transform -translate-y-1)"
  >
    {{ props.name }}
  </button>
</template>
