<script setup lang="ts">
const props = defineProps({
  data: {
    type: Object,
    default: {
      name: 'Empty',
      path: '/empty',
      icon: 'not image'
    }
  }
})
</script>
<template>
  <router-link class="flex items-end gap-1" :to="props.data.path">
    <span
      class="text-1.2rem font-sans font-semibold text-[#000000b8] transition-transform duration-300 hover:(text-[#1B9684])"
      >{{ props.data.name }}</span
    >
  </router-link>
</template>
<style>
.icon {
  fill: #0000008e !important;
  height: 20px;
  width: 20px !important;
}
.hover {
  fill: #1b9684 !important;
}
</style>
