* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-home {
  background: rgb(142, 201, 217);
  background: linear-gradient(
    90deg,
    rgba(142, 201, 217, 0.17979691876750703) 0%,
    rgba(243, 245, 248, 1) 24%,
    rgba(243, 245, 248, 1) 89%,
    rgba(65, 201, 203, 0.08735994397759106) 99%
  );
}
