<script lang="ts" setup>
import { useRoute } from 'vue-router'
import Admin from './layouts/Admin.vue'
import Client from './layouts/Client.vue'
import Default from './layouts/Default.vue'
import Profile from './layouts/Profile.vue'
import { computed } from 'vue'

const allLayouts = {
  Admin,
  Client,
  Default,
  Profile
}

const route = useRoute()

const layout = computed(() => {
  let l = route.meta.layout || ''
  return l as keyof typeof allLayouts
})
</script>

<template>
  <a-config-provider>
    <component :is="allLayouts[layout]" />
  </a-config-provider>
</template>
