<script lang="ts" setup>
import Header from '@/components/client/layouts/Header.vue'
// import { ref, watch, onMounted, onUnmounted } from 'vue'

// const scrollY = ref(0)
// const isScroll = ref(false)

// const handleScroll = () => {
//   scrollY.value = window.scrollY
// }

// onMounted(() => {
//   window.addEventListener('scroll', handleScroll)
// })

// onUnmounted(() => {
//   window.removeEventListener('scroll', handleScroll)
// })

// watch(scrollY, (newVal) => {
//   if (newVal > 40) {
//     isScroll.value = true
//   } else {
//     isScroll.value = false
//   }
// })
</script>
<template>
  <div class="bg-home">
    <Header class="" />
    <div class="h-80vh w-full"></div>
    <div class="h-80vh w-full bg-white"></div>
  </div>
</template>
