<script lang="ts" setup></script>
<template>
  <div>
    <a-form-item label="username">
      <a-input />
    </a-form-item>
    <a-form-item label="password">
      <a-input />
    </a-form-item>
  </div>
</template>
